{% extends 'base.html' %}

{% block content %}

<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body profile-page p-0">
            <div class="profile-header">
               <div class="position-relative">
                  <img src="/static/images/page-img/profile-bg1.jpg" alt="profile-bg" class="rounded img-fluid">
                  {% if is_user == True %}
                  <ul class="header-nav list-inline d-flex flex-wrap justify-end p-0 m-0" style="z-index: 100;">
                     <li><a href="{% url 'update_profile' %}"><i class="ri-pencil-line"></i></a></li>
                     <li><a href="#"><i class="ri-settings-4-line"></i></a></li>
                  </ul>
                  {% endif %}
               </div>
               <div class="user-detail text-center mb-3">
                  <div class="profile-img">

                     <img src="{{profile_pic_url}}" alt="profile-img" class="avatar-130 img-fluid" style=" width: 127.5px;
                     height: 127.5px;
                     max-width: none;
                     object-fit: cover; margin: auto;">

                  </div>
                  <div class="profile-detail">
                     <h3 class="">{{profile.user.username}}</h3>
                  </div>
               </div>
               <div class="profile-info p-3 d-flex align-items-center justify-content-between position-relative">

                  <div class="social-info">
                     <ul
                        class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                        <li class="text-center ps-3">
                           <h6>Posts</h6>
                           <p class="mb-0">{{num_posts}}</p>
                        </li>
                        <li class="text-center ps-3">
                           <h6>Followers</h6>
                           <p class="mb-0">{{followers}}</p>
                        </li>
                        <li class="text-center ps-3">
                           <h6>Following</h6>
                           <p class="mb-0">{{following}}</p>
                        </li>
                     </ul>
                  </div>
                  {% if not is_user %}

                  <div class="d-flex">

                     {% if profile in user_followed_profiles %}
                     <a href="{% url 'create_thread' profile.id  %}" class="btn btn-success d-block mt-3 me-3"
                        id="message-btn" data-user-id="{{ profile.user.id }}" style="color: #fff;">Message</a>
                     {% endif %}
                     <form method="post">
                        {% csrf_token %}

                        {% if profile in user_followed_profiles %}
                        <button name="follow" value="unfollow" class="btn btn-secondary d-block mt-3"
                           style="width: 94.23px !important;">
                           Following
                        </button>
                        {% else %}
                        <button name="follow" value="follow" class="btn btn-primary d-block mt-3"
                           style="width: 94.23px !important;">
                           Follow
                        </button>
                        {% endif %}
                     </form>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>

      {% if profile in user_followed_profiles or is_user == True %}
      <div class="card">
         <div class="card-body p-0">
            <div class="user-tabing">
               <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
                  <li class="nav-item col-12 col-sm-3 p-0">
                     <a class="nav-link active" href="#pills-timeline-tab" data-bs-toggle="pill"
                        data-bs-target="#timeline" role="button">Posts</a>
                  </li>
                  <li class="nav-item col-12 col-sm-3 p-0">
                     <a class="nav-link" href="#pills-about-tab" data-bs-toggle="pill" data-bs-target="#about"
                        role="button">About</a>
                  </li>
                  <li class="nav-item col-12 col-sm-3 p-0">
                     <a class="nav-link" href="#pills-friends-tab" data-bs-toggle="pill" data-bs-target="#friends"
                        role="button">Friends</a>
                  </li>
                  <li class="nav-item col-12 col-sm-3 p-0">
                     <a class="nav-link" href="#pills-photos-tab" data-bs-toggle="pill" data-bs-target="#photos"
                        role="button">Photos</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      {% else %}
      <h4 style="text-align: center;">Follow to see details</h4>
      {% endif %}
   </div>
   {% if profile in user_followed_profiles or is_user == True %}
   <div class="col-sm-12" style="width: 80%;">
      <div class="tab-content">
         <div class="tab-pane fade show active" id="timeline" role="tabpanel">
            <div class="card-body p-0">
               <div class="row">

                  <div class="col-lg-8">
                     {% if is_user == True %}
                     <div id="post-modal-data" class="card">
                        <div class="card-header d-flex justify-content-between">
                           <div class="header-title">
                              <h4 class="card-title">Create Post</h4>
                           </div>
                        </div>
                        <form class="w-100 " data-bs-toggle="modal" data-bs-target="#post-modal" method="post"
                           enctype="multipart/form-data" action="{% url 'create_post' %}">
                           {% csrf_token %}
                           <div class="card-body">
                              <div class="d-flex align-items-center">
                                 <div class="user-img">
                                    <img src="{{profile_pic_url}}" alt="userimg" class="avatar-60 rounded-circle"
                                       style="object-fit: cover;">
                                 </div>


                                 <textarea name="post-text" id="post-text" class="form-control rounded"
                                    style="border:none;" placeholder="Write something here..."></textarea>


                              </div>
                              <hr>
                              <ul class=" post-opt-block d-flex list-inline m-0 p-0 flex-wrap ">
                                 <input type="file" id="post-image" name="post-image" id="post-image" accept="image/*">
                                 <label for="post-image"
                                    class="bg-soft-primary rounded p-2 pointer d-flex align-items-center me-3 mb-md-0 mb-2">

                                    <img src="/static/images/small/07.png" alt="icon" class="img-fluid me-2">
                                    Photo/Video
                                 </label>



                                 <button class="bg-primary rounded p-2 pointer text-center w-25"
                                    style="border: none; display: block;  color: white;" type="submit">Create
                                    Post</button>
                              </ul>
                           </div>
                        </form>
                     </div>
                     {% endif %}
                     <div class="card">
                        <div class="card-body">
                           {% for post in posts %}
                           <div class="post-item">
                              <div class="user-post-data py-3">
                                 <div class="d-flex justify-content-between">
                                    <div class="me-3">
                                       <img class="rounded-circle  avatar-60" src="{{profile_pic_url}}" alt=""
                                          style="object-fit: cover;">
                                    </div>
                                    <div class="w-100">
                                       <div class="d-flex justify-content-between flex-wrap">
                                          <div class="">
                                             <h5 class="mb-0 d-inline-block"><a href="#"
                                                   class="">{{post.user.username}}</a></h5>
                                             <p class="ms-1 mb-0 d-inline-block">Add New Post</p>
                                             <p class="mb-0">{{post.created_at}}</p>
                                          </div>
                                          {% if is_user %}
                                          <div class="card-post-toolbar">
                                             <div class="dropdown">
                                                <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false" role="button">
                                                   <i class="ri-more-fill"></i>
                                                </span>
                                                <form class="dropdown-menu m-0 p-0" method="post"
                                                   action="{% url 'delete_post' post.id %}">
                                                   {% csrf_token %}

                                                   <a class="dropdown-item p-3" href="#">
                                                      <div class="d-flex align-items-top">
                                                         <i class="ri-pencil-line h4"></i>
                                                         <div class="data ms-2">
                                                            <h6>Edit Post</h6>
                                                            <p class="mb-0">Update your post and saved items
                                                            </p>
                                                         </div>
                                                      </div>
                                                   </a>

                                                   <button class="dropdown-item p-3" name="post-options" value="delete">
                                                      <div class="d-flex align-items-top">
                                                         <i class="ri-delete-bin-7-line h4"></i>
                                                         <div class="data ms-2">
                                                            <h6>Delete</h6>
                                                            <p class="mb-0">Remove thids Post on Timeline
                                                            </p>
                                                         </div>
                                                      </div>
                                                   </button>

                                                </form>
                                             </div>
                                          </div>
                                          {% endif %}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="user-post">

                                 <p>{{post.body}}</p>
                                 {% for image in post.images.all %}
                                 <img src="{{ image.image.url }}" alt="post-image" class="img-fluid w-100" />
                                 {% empty %}

                                 {% endfor %}

                              </div>
                              <div class="comment-area mt-3">
                                 <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="like-block position-relative d-flex align-items-center">
                                       <div class="d-flex align-items-center">
                                          <div class="like-data">
                                             <div class="dropdown">

                                                <img src="/static/images/icon/01.png" class="img-fluid" alt="">


                                             </div>
                                          </div>

                                       </div>
                                       <div class="total-comment-block">
                                          <div class="dropdown ms-3  ">

                                             20 Comment


                                          </div>
                                       </div>
                                    </div>

                                 </div>
                                 <hr>

                              </div>
                           </div>
                           <hr>
                           {% empty %}
                           <p style="text-align: center;">No posts</p>

                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane fade" id="about" role="tabpanel">
            <div class="card">
               <div class="card-body">
                  <div class="row justify-content-start">

                     <div class="col-md-9 ps-4">
                        <div class="tab-content">
                           <div class="tab-pane fade active show" id="v-pills-basicinfo-tab" role="tabpanel"
                              aria-labelledby="v-pills-basicinfo-tab">
                              <h4>Contact Information</h4>
                              <hr>
                              <div class="row ">
                                 <div class="col-3">
                                    <h6>Email</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">example@gmail.com</p>
                                 </div>




                              </div>
                              <h4 class="mt-3">Websites and Social Links</h4>
                              <hr>
                              <div class="row">
                                 <div class="col-3">
                                    <h6>Website</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">www.example.com</p>
                                 </div>
                                 <div class="col-3">
                                    <h6>LinkedIn</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">www.example.com</p>
                                 </div>
                              </div>
                              <h4 class="mt-3">Basic Information</h4>
                              <hr>
                              <div class="row">
                                 <div class="col-3">
                                    <h6>Birth Date</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">24 January</p>
                                 </div>

                                 <div class="col-3">
                                    <h6>Gender</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">Male</p>
                                 </div>
                                 <div class="col-3">
                                    <h6>Age</h6>
                                 </div>
                                 <div class="col-9">
                                    <p class="mb-0">20</p>
                                 </div>


                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane fade" id="friends" role="tabpanel">
            <div class="card">
               <div class="card-body">
                  <h2>Friends</h2>
                  <div class="friend-list-tab mt-2">
                     <ul
                        class="nav nav-pills d-flex align-items-center justify-content-left friend-list-items p-0 mb-2">


                        <li>
                           <a class="nav-link active" data-bs-toggle="pill" href="#pill-followers"
                              data-bs-target="#followers">Followers</a>
                        </li>
                        <li>
                           <a class="nav-link" data-bs-toggle="pill" href="#pill-following" data-bs-target="#following">
                              Following</a>
                        </li>

                     </ul>
                     <div class="tab-content">



                        <div class="tab-pane fade active show" id="followers" role="tabpanel">
                           <div class="card-body p-0">
                              <div class="row justify-content-start">
                                 {% for profile in followed_by %}
                                 <div class="col-md-6 col-lg-6 mb-3">
                                    <div class="iq-friendlist-block">
                                       <div class="d-flex align-items-center justify-content-between">


                                          <div class="d-flex align-items-center">
                                             <a href="{% url 'profile' profile.id %}">

                                                <img
                                                   src="{% if profile.image %}{{profile.image.url}}{% else %}/static/images/user/default_profile.jpeg{% endif %}"
                                                   alt="profile-img" class="img-fluid" style=" width: 127.5px;
                                                   height: 127.5px;
                                                   max-width: none;
                                                   object-fit: cover;">
                                             </a>

                                          </div>
                                          <div class="d-flex flex-column align-items-start    me-2">
                                             <div class="friend-info mb-3">
                                                <h5>{{profile.user.username}}</h5>

                                             </div>

                                             <div class="card-header-toolbar d-flex align-items-center">
                                                <div class="dropdown">
                                                   {% if profile in followed_profiles %}
                                                   <span class="btn btn-secondary me-2" aria-expanded="true">
                                                      <i class="ri-check-line me-1 text-white"></i> Following
                                                   </span>
                                                   {% else %}
                                                   <span class="btn btn-primary me-2" aria-expanded="true">
                                                      <i class="ri-check-line me-1 text-white"></i> Follow
                                                   </span>
                                                   {% endif %}

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 {% empty %}
                                 <p>No followers</p>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="following" role="tabpanel">
                           <div class="card-body p-0">
                              <div class="row justify-content-start">
                                 {% for profile in followed_profiles %}
                                 <div class="col-md-6 col-lg-6 mb-3">
                                    <div class="iq-friendlist-block">
                                       <div class="d-flex align-items-center justify-content-between">


                                          <div class="d-flex align-items-center">
                                             <a href="{% url 'profile' profile.id %}">
                                                <img
                                                   src="{% if profile.image %}{{profile.image.url}}{% else %}/static/images/user/default_profile.jpeg{% endif %}"
                                                   alt="profile-img" class="img-fluid" style="    width: 127.5px;
                                                   height: 127.5px;
                                                   max-width: none;
                                                   object-fit: cover;">
                                             </a>

                                          </div>
                                          <div class="d-flex flex-column align-items-start    me-2">
                                             <div class="friend-info mb-3">
                                                <h5>{{profile.user.username}}</h5>

                                             </div>

                                             <div class="card-header-toolbar d-flex align-items-center">
                                                <div class="dropdown">

                                                   <span class="btn btn-secondary me-2" aria-expanded="true">
                                                      <i class="ri-check-line me-1 text-white"></i> Following
                                                   </span>


                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 {% empty %}
                                 <p>No profiles following</p>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane fade" id="photos" role="tabpanel">
            <div class="card">
               <div class="card-body">
                  <h2>Photos</h2>
                  <div class="friend-list-tab mt-2">

                     <div class="tab-content">
                        <div class="tab-pane fade active show" id="photosofyou" role="tabpanel">
                           <div class="card-body p-0">
                              <div class="d-grid gap-2 d-grid-template-1fr-13 ">
                                 {% for image in profile_post_images %}
                                 <div class="">
                                    <div class="user-images position-relative overflow-hidden">
                                       <a href="#">
                                          <img src="{{image.url}}" class="img-fluid rounded" alt="Responsive image"
                                             style="object-fit: cover;">
                                       </a>


                                    </div>
                                 </div>
                                 {% empty %}
                                 <p>No photos uploaded yet</p>
                                 {% endfor %}

                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endif %}

</div>

{% endblock %}